body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.header{
    background-color: #562EFF;
    color: white;
}
.section-title{
    color: #562EFF;
    
    font-size: 25px;
    font-weight: 500;
}

.banner{
    background-color: white;
}
.row h5{
    margin-left: 10px;
}